*:not(dialog) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
}

.scene img {
  z-index: 1;
  width: auto;
  height: auto;
}

.blur {
  filter: blur(33px);
}

ul {
  grid-column: 2;
  display: grid;
  grid-template-rows: min(20dvh, 150px);
  grid-template-columns: 30% 30% 30%;
  width: max-content;
  list-style-type: none;
  justify-content: stretch;
  align-items: stretch;
  text-align: center;
}
li {
  display: flex;
  padding: 0.5ch;
  max-width: 100%;
  overflow: clip;
  aspect-ratio: 1;
  justify-content: center;
  
  > label {
    display: flex;
    flex-direction: column;
    align-items: center;
    > img {
      max-width: max(100px, 30dvw);
      max-height: 30dvw;
      min-width: 100px;
      
    }
  }
    
}
li:hover {
  background-color: yellow;
  padding: 0.6ch 0.5ch 0.5ch 0.5ch;
}

#targetting-window {
  visibility: hidden;
  z-index: 3;
  position: absolute;

  /*
  width: 33px;
  height: 33px;
  border: 5px solid blue;
  */
  width: 3%;
  aspect-ratio: 1;
  border: 0.3rem solid blue;
}

::backdrop {
  margin: initial;
  padding: initial;
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

.game:not([hidden]) {
  display: grid;

  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(4, auto);

  max-width: min(100vw, 1000px);
  row-gap: 1rem;
  column-gap: 1rem;

  justify-content: stretch;
  align-items: stretch;

  > section,
  > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
  }

  > section:first-child > p:first-child {
    margin: 5px;
    height: 100%;
    width: 100%;
    text-wrap-style: balance;
    text-wrap-mode: wrap;
    text-align: center;
    padding: 5px;
    display: flex;
    background-color: yellow;
    font-family: fantasy;
    letter-spacing: .1ch;
  }
  button {
    margin: 5px;
    height: 100%;
    width: 100%;
    min-width: max-content;
  }
}

main > header {
  padding: 1rem;
}
