*:not(dialog) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
}

#scene img {
  max-width: 100%;
  cursor: pointer;
}

.anchor {
  anchor-name: --scene;
}

#scene #image-enclosure {
  user-select: none;
  grid-column: 1 / -1;
  border: 2px ridge black;
  padding: 2px;
  margin: 1rem;
}

ul#characters {
  grid-column: 2;
  display: grid;
  grid-template-rows: min(20dvh, 150px);
  grid-template-columns: 30% 30% 30%;
  width: max-content;
  list-style-type: none;
  justify-content: stretch;
  align-items: stretch;
  text-align: center;

  > li {
    display: flex;
    padding: 0.5ch;
    max-width: 100%;
    overflow: clip;
    aspect-ratio: 1;
    justify-content: center;

    > label {
      display: flex;
      flex-direction: column;
      align-items: center;
      > img {
        max-width: 140px;
        max-height: 30dvh;
        min-width: 140px;
      }
    }
  }
  > li:hover > label {
    background-color: rgb(249 239 134);
    padding: 0.6ch 0.5ch 0.5ch 0.5ch;
  }
}
#targetting-window {
  visibility: hidden;
  z-index: 3;
  position: absolute;
  position-anchor: --scene;

  anchor-name: --msg-anchor;

  /*
  width: 33px;
  height: 33px;
  border: 5px solid blue;
  */
  min-width: 16px;
  aspect-ratio: 1;
  border: 0.3rem solid blue;
  border-image: linear-gradient(0deg, rgb(0, 71, 0), lightgreen);
  border-image-slice: 1;
}

#targetting-window.shimmer {
  animation: 2s cubic-bezier(0.1, -0.6, 0.2, 0) infinite alternate shimmer;
}

.tag.notfound {
  display: none;
}

.tag {
  background-color: transparent;
  color: transparent;
  z-index: 3;
  position: absolute;
  position-anchor: --scene;
  border-radius: 25px;
  padding: 0.5rem;
  display: flex;
  max-width: 32px;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  user-select: none;
}

.tag:hover {
  transition: all 0.5s;
  background-color: #ffffffc2;
  color: black;
  width: max-content;
  max-width: max-content;
}

@keyframes shimmer {
  0% {
    border-image: linear-gradient(0deg, rgb(0, 71, 0), lightgreen);
    border-image-slice: 1;
  }

  25% {
    border-image: linear-gradient(90deg, rgb(0, 71, 0), lightgreen);
    border-image-slice: 1;
  }
  50% {
    border-image: linear-gradient(180deg, rgb(0, 71, 0), lightgreen);
    border-image-slice: 1;
  }

  75% {
    border-image: linear-gradient(270deg, rgb(0, 71, 0), lightgreen);
    border-image-slice: 1;
  }
}

::backdrop {
  margin: initial;
  padding: initial;
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

.game:not([hidden]) {
  display: grid;

  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(4, auto);

  max-width: min(100vw, 1000px);
  row-gap: 1rem;
  column-gap: 1rem;

  justify-content: stretch;
  align-items: stretch;

  > section:nth-of-type(-n + 3) {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
    margin-left: 1rem;
  }

  > section {
    grid-column: 1 / -1;
  }

  > section:has(> button:disabled) {
    display: none;
  }

  > #scene {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 0.8rem;

    > label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      > button {
        user-select: none;
        width: 50px;
        display: grid;
        grid-template-rows: 15px;
        border-radius: 30px;
        background: radial-gradient(#918174 0%, black 100%);
        background-position: 50px 0px;
        border: 3px inset black;
      }

      > button:hover {
        background-position: 0px 50px;
      }
      > button::after {
        content: "";
        background-color: #fff493;
        border-radius: 50%;
        width: 49%;
        margin: 1px;
        aspect-ratio: 1;
        user-select: none;
      }

      > button.offPos::after {
        content: "";
        background-color: #fff493;
        border-radius: 50%;
        width: 49%;
        margin: 1px;
        aspect-ratio: 1;
        animation: 0.05s linear 1 forwards toggle-motion-right;
      }

      > button.onPos::after {
        content: "";
        background-color: fff493;
        border-radius: 50%;
        width: 49%;
        margin: 1px;
        aspect-ratio: 1;
        animation: 0.05s linear 1 forwards toggle-motion-left;
      }
    }
  }

  > section:first-child > p:first-child {
    height: 100%;
    width: 100%;
    text-wrap-style: balance;
    text-wrap-mode: wrap;
    text-align: center;
    padding: 1rem;
    display: flex;
    background-color: yellow;
    font-family: fantasy;
    letter-spacing: 0.1ch;
    background: linear-gradient(
      90deg,
      #ffeb3b,
      transparent 95%,
      transparent 100%
    );
  }
  button {
    align-self: center;
    justify-self: center;
    margin: 5px;
    height: 100%;
    width: 100%;
    min-width: max-content;
    background-color: yellow;
    font-weight: 600;
    border-radius: 5px;
    user-select: none;
  }
}

@keyframes toggle-motion-right {
  0% {
    transform: translateX(99%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes toggle-motion-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(99%);
  }
}
main > header {
  padding: 1rem;
}

.blur {
  filter: blur(33px);
}

#top-ten {
  border: 5px double black;
  padding: 1rem;
  width: 280px;
}

#top-ten-dialog {
  border-radius: 20px;
}
#top-ten-dialog > p {
  padding: 1rem;
  font-family: fantasy;
  letter-spacing: 0.1ch;
  color: #86572e;
  text-align: center;
  font-size: x-large;
  margin-top: 0.5rem;
  border: 5px double black;
  padding: 1rem;
  user-select: none;

  background-color: hsl(78, 100%, 92%);
}

#top-ten-dialog > button {
  position: absolute;
  border: none;
  background-color: transparent;
  font-size: 10px;
  transform: scale(1.4, 1.1);
  max-width: 3ch;
  max-height: 3ch;
  margin: 0px;
  box-sizing: content-box;
  top: 1px;
  right: 4px;
  background-color: #ffd314;
  border-radius: 0;
  border-bottom-left-radius: 3px;
  user-select: none;
  cursor: pointer;
}

#top-ten-dialog #top-ten-list > .shimmer {
  border: 0.3rem solid blue;
  border-image: linear-gradient(0deg, rgb(0, 71, 0), lightgreen);
  border-image-slice: 1;
  animation: 2s cubic-bezier(0.1, -0.6, 0.2, 0) infinite alternate shimmer;
}

#top-ten-dialog #top-ten-list > li {
  width: 100%;
  background-color: hsl(78, 100%, calc(92% - sibling-index() * 5%));

  > div:last-child {
    text-align: end;
  }

  > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    > input {
      border-radius: 10px;
      border-color: white;
      padding: 3px;
    }

    > button {
      border-color: white;
      aspect-ratio: 1;
      height: max-content;
      width: max-content;
      padding: 1px 4px;
      border-radius: 50%;
    }

    > button#edit {
      background-color: transparent;
      border-radius: 0;
      border: none;
    }
  }
}
#top-ten-dialog #top-ten-list {
  margin-left: 1rem;
  font-size: large;
  font-family: cursive;
  border-radius: 10px;

  > li {
    padding: 5px;
    margin: 1px;

    > div:nth-of-type(2) {
      font-size: small;
    }
  }
}

ul#menu {
  visibility: hidden;
  display: flex;
  width: max-content;
  flex-direction: column;
  list-style-type: none;
  position: absolute;
  z-index: 2;
  color: black;
  background-color: white;
  padding: 0.5ch;
  justify-content: stretch;
  align-items: stretch;
  text-align: center;

  > li {
    padding: 0.5ch;
  }
  > li:hover {
    background-color: yellow;
    padding: 0.6ch 0.5ch 0.5ch 0.5ch;
  }
}

#wrong {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  color: black;
  background-color: white;
  padding: 0.5ch;
  text-align: center;
  user-select: none;
  background-color: red;
  color: white;
}

@media only screen and (max-width: 600px) {
  ul:not(#top-ten-list) {
    display: flex;
    flex-direction: column;

    img {
      max-width: 100px;
      max-height: 30dvw;
      min-width: 100px;
    }
  }
}
