*:not(dialog) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
}

#scene img {
  margin: 1rem;
  grid-column: 1 / -1;
  max-width: calc(100% - 2rem);
  border: 2px ridge black;
  padding: 2px;
}


ul {
  grid-column: 2;
  display: grid;
  grid-template-rows: min(20dvh, 150px);
  grid-template-columns: 30% 30% 30%;
  width: max-content;
  list-style-type: none;
  justify-content: stretch;
  align-items: stretch;
  text-align: center;
}
li {
  display: flex;
  padding: 0.5ch;
  max-width: 100%;
  overflow: clip;
  aspect-ratio: 1;
  justify-content: center;
  
  > label {
    display: flex;
    flex-direction: column;
    align-items: center;
    > img {
      max-width: 140px;
      max-height: 30dvh;
      min-width: 140px;
    }
  }
}
li:hover {
  background-color: yellow;
  padding: 0.6ch 0.5ch 0.5ch 0.5ch;
}

#targetting-window {
  visibility: hidden;
  z-index: 3;
  position: absolute;
  
  /*
  width: 33px;
  height: 33px;
  border: 5px solid blue;
  */
  width: 3%;
  aspect-ratio: 1;
  border: 0.3rem solid blue;
}

::backdrop {
  margin: initial;
  padding: initial;
  background-image: linear-gradient(
  45deg,
  magenta,
  rebeccapurple,
  dodgerblue,
  green
  );
  opacity: 0.75;
}

.game:not([hidden]) {
  display: grid;
  
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(4, auto);
  
  max-width: min(100vw, 1000px);
  row-gap: 1rem;
  column-gap: 1rem;
  
  justify-content: stretch;
  align-items: stretch;
  
  > section:nth-of-type(-n+3) {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
  }
  
  > section {
    grid-column: 1 / -1;
  }
  
  > #scene {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    > label {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      
      > button {
        width: 50px;
        display: grid;
        grid-template-rows: 15px;
        border-radius: 30px;
        background: radial-gradient(#918174 0%, black 100%);
        background-position: 50px 0px;
        border: 3px inset black;
      }
      
      > button:hover {
        background-position: 0px 50px;
      }
      > button::after {
        content: "";
        background-color: #fff493;
        border-radius: 50%;
        width: 49%;
        margin: 1px;
        aspect-ratio: 1;
        user-select: none;
      }
      
      > button.offPos::after {
        content: "";
        background-color: #fff493;
        border-radius: 50%;
        width: 49%;
        margin: 1px;
        aspect-ratio: 1;
        animation: .05s linear 1 forwards toggle-motion-right;
      }
      
      > button.onPos::after {
        content: "";
        background-color: fff493;
        border-radius: 50%;
        width: 49%;
        margin: 1px;
        aspect-ratio: 1;
        animation: .05s linear  1 forwards toggle-motion-left  ;
      }
      
    }
  }
  
  > section:first-child > p:first-child {
    margin: 5px;
    height: 100%;
    width: 100%;
    text-wrap-style: balance;
    text-wrap-mode: wrap;
    text-align: center;
    padding: 5px;
    display: flex;
    background-color: yellow;
    font-family: fantasy;
    letter-spacing: 0.1ch;
  }
  button {
    margin: 5px;
    height: 100%;
    width: 100%;
    min-width: max-content;
  }
}


@keyframes toggle-motion-right {
  0% {
    transform: translateX(99%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes toggle-motion-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(99%);
  }
}
main > header {
  padding: 1rem;
}

.blur {
  filter: blur(33px);
}

#top-ten-dialog > p {
  padding: 1rem;
  font-family: fantasy;
  letter-spacing: 0.1ch;
  color: #86572e;
}

@media only screen and (max-width: 600px) {
  ul {
    display: flex;
    flex-direction: column;
    
    img {
      max-width: 100px;
      max-height: 30dvw;
      min-width: 100px;
    }
  }
}
